@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Oswald', sans-serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
a{text-decoration: none;color:inherit}
img{display: block;}

body{
  font-family: 'Oswald', sans-serif;
}

#logoBox{
  width: 100%;
  height: 100px;
  background-color: rgb(24, 25, 71);
  padding: 0 100px;
}

#logoBox .logo{
  width: 200px;
  height: 100px;
  color: yellow;
  background-color: rgb(1, 6, 49);
  text-align: center;
  float: left;
  position: absolute;
  left: 100px;
}

#logoBox ul {
  position: absolute;
  left: 100px;
  right: 30px;
  margin: 35px 0;
}

#logoBox ul li{
  float:  left;
  line-height: 30px;
  margin: 35px 0;
  margin-left: 30px;
  text-transform: uppercase;
}

#logoBox ul li:hover{
  color: firebrick;
}

#slide{
  width: 100%;
  height: 581px;
  background-image: url(./position/main.png);
  background-position: center;
  position: relative;
}

#slide .text{
  width: 500px;
  height: 130px;
  background-color: #000;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  
  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  /* 중앙으로 이동 : width 절반, height 절반 (단, - 붙이기)*/
  margin-top: -65px;
  margin-left: -250px;
}

/* section */
#section{
  margin: 50px 0;
  text-align: center;
  overflow: hidden;
}

#section p{
  color: #808080;
  margin: 30px 0;
}

#section .box{
  width: 500px;
  height: 400px;
  background-color: #000;

  /* margin: auto 랑 postion: absolute 는 같이 못씀!! */
  /* 중심으로 이동 시키기에는 그냥 position: relative 에
  margin: auto 쓰는게 좋음!! */
  position: relative;
  margin: auto;
}

#section .box button{
  display: block;
  width: 100px;
  height: 100px;
  color: #fff;
  background-color: #808080;
  border: none;
  cursor: pointer;
  
  position: absolute;
  top: 50%;
  margin-top: -50px;
}