*{
  padding: 0; margin: 0; box-sizing: border-box;
}

.main-box{
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 100px;
  border-radius: 10px;
  background-color: #455060;

  box-shadow: 2px 2px 2px gray;
}

.main-box>.text-box{
  width: 100%;
  height: 30%;
}

.main-box>.text-box>.lv{
  display: inline-block;

  margin: 5px 35px;
  color: #fdcb00;
  font-weight: 600;
}

.main-box>.text-box>.name{
  display: inline-block;

  margin: 5px 60px;
  color: #d6d7d9;
}

.main-box>.bar-box{
  width: 100%;
  height: 70%;

  padding: 7px 7px;

  border-radius: 10px;
  background-color: #f1f1f1;
}

.main-box>.bar-box>.mini-box{
  width: 100%;
  height: 50%;
  padding: 3px;
}

.main-box>.bar-box>.mini-box>.text{
  float: left;
  display: inline-block;
  width: 10%;

  text-align: center;
  font-size: 14px;
  font-weight: 800;
  color: #acadad;
}

.main-box>.bar-box>.mini-box>.HP{
  float: left;
  display: inline-block;
  width: 90%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;

  background-color: #f54188;

  border-radius: 5px;
}
.main-box>.bar-box>.mini-box>.MP{
  float: left;
  display: inline-block;
  width: 90%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  color: #ffffff;

  background-color: #4cceea;

  border-radius: 5px;
}
.box{
  min-width: 700px;
  height: 300px;
  background-color: seagreen;
}
/*
  (매우 중요!!!!!)
  부모 요소의 넓이값을 따라감
  max-width: 최대 유지하고자 하는 넓이값 0% // ~ 이하
  min-width: 최소 유지하고자 하는 넓이값 100% // ~ 이상
*/

/* 
  미디어 쿼리 = (조건) 기준점을 기반으로 스타일 부여하는 반응형 css
  구문법 > 화면사이즈별로 화면에 맞는 디자인을 구성해서 표현하는 방식

  @media screen and (기준점,조건)
*/

@media screen and (max-width:1024px) {
  /* 내가 보고있는 화면 사이즈 1024 이하의 화면 기준!! */
  .box{
    background-color: firebrick;
  }
}

@media screen and (max-width:767px) {
  .box{
    background-color: skyblue;
  }
}

@media screen and (min-width:1400px) {
  .box{
    background-color: sandybrown;
  }
}

@media screen and (min-width:1100px) and (max-width:1320px) {
  /* 내가 보고있는 화면사이즈 1100px 이상 1320px 이하의 화면기준! */
  .box{
    background-color: #000;
  }
}