@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{display: block; width: 100%;}
figure{width: fit-content; height: fit-content;}
body{
  font-size: 14px;
  background-color: #333235;
  font-family: 'Noto Sans KR', sans-serif;
}

/* header */
header{
  max-width: 1200px;
  height: 90px;
  background-color: #330066;
  padding: 0 100px;
  margin: auto;
}
header>.head-logo-img{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  float: left;
  height: 70px;
}
header>.head-logo-img>a>img{
  height: 70px;
}
header>ul{
  width: 50%;
  /* 600/1200*100 =50 */
  float: left;
  margin: 0 4.17%;
  /* 50/1200*100 = 4.166 */
}
header>ul>li{
  float: left;
  font-weight: 500;
  text-align: center;
  margin-right: 5.83%;
  /* 35/600*100 = 5.833 */
  line-height: 90px;
  color: white;
  font-size: 20px;
  overflow: hidden;
}
header>ul>li:last-child{
  margin-right: 0;
}
header>#lang{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  float: right;
}

/* PC */
@media screen and (max-width:1024px) {
  header{
    width: 100%;
  }
}
/* 960이하 화면 */
@media screen and (max-width:960px) {
  header{
    max-width: 1200px;
    height: 90px;
    background-color: #333235;
    padding: 0 100px;
    margin: auto;
  }
  header>.head-logo-img{
    float: none;
    margin: auto;
  }
  header>ul{
    display: none;
  }
  header>ul>li{
    display: none;
  }
  header>ul>li:last-child{
    display: none;
  }
  header>#lang{
    display: none;
  }
}
/* /header */

/* main */
main{
  max-width: 1800px;
  max-height: 513px;
  background-image: url(./img/img001.png);
  background-repeat: no-repeat;
  /* background-size: 100%; */
  background-position: center;
  padding: 3%;
}
main .main-text{
  margin: auto;
  margin-bottom: 8%;
}
main .main-menu{
  width: 53.33%;
  /* 960/1800*100= 53.333 */
  height: 25.34%;
  /* 130/513*100 = 25.341*/
  margin: auto;
  opacity: 90%;
  text-align: center;

  display: flex;
}
main .main-menu .menu-box{
  width: 16.67%;
  /* 160/960*100 = 16.666*/
  /* height: 100%; */
  /* 130/960*100 = 13.541 */
  padding: 2.6%;
  /* 25/960*100 =2.604 */
  background-color: skyblue;
}
main .main-menu .menu-box:first-child{
  background-color: orange;
}
main .main-menu .menu-box:last-child{
  background-color: green;
}
main .main-menu .menu-box a{
  margin: auto;
  width: 68.75%;
  /* 160-25*2 = 110 */
  /* 110/160*100 = 68.75 */
  height: 61.54%;
  /* 130-25*2 = 80 */
  /* 80/130*100 = 61.538 */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main-menu .menu-box a img{
  margin: auto;
  width: 48.13%;
  /* 45/160*100 = 48.125 */
}
main .main-menu .menu-box a p{
  color: white;
}
/* /main */

/* mobile */
@media screen and (max-width: 960px){
  main .main-menu{
    width: 50%;
    flex-wrap: wrap;
  }

  main .main-menu .menu-box{
    width: 33.33%;
  }
}

/* section */
section{
  padding: 30px;
  background-color: white;
}
section table{
  margin: auto;
}
section table tr td{
  width: 380px;
  padding: 10px 10px;
}
section table tr td .title-box{
  padding: 5px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
section table tr:nth-child(2) td:last-child .title-box{
  border-bottom: 2px solid black;
}
section table tr td a .more{
  width: 18px;
  height: 18px;
}
section table tr td ul{
  height: 230px;
  padding: 10px 0;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section table tr td ul li span{
  font-size: 11px;
  color: lightgray;
}
section table tr td ul li p:first-child{
  float: left;
}
section table tr td ul li p:last-child{
  float: right;
}
/* /section */

/* footer */
footer{
  max-width: 1200px;
  height: 70px;
  margin: auto;
  color: gray;
}
footer .footer-logo{
  float: left;
  height: 70px;
}
footer .footer-logo .footer-logoimg{
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}
footer .footer-text{
  max-width: 480px;
  float: left;
  height: 50px;
  margin-left: 1.67%;
  /* 20/1200*100=1.666 */
  position: relative;
  top: 50%;
  transform: translate(0,-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer .footer-text .f-t-t{
  font-weight: 700;
  font-size: 13px;
}
footer .footer-text .f-t-t p{
  float: left;
}
footer .footer-text .f-t-t a{
  float: right;
}
footer .footer-text p:last-child{
  font-size: 10px;
}

footer .footer-site{
  height: 70px;
  float: right;
}
footer .footer-site .footer-sns{
  float: left;

  position: relative;
  top: 50%;
  transform: translate(0,-60%);
}
footer .footer-site #site{
  min-width: 100px;
  /* 100/1200*100 =8.33 */
  height: 30px;
  background-color: #333235;
  border: 1px solid white;
  color: white;

  float: left;

  position: relative;
  top: 50%;
  transform: translate(0,-50%);
}
@media screen and (max-width: 960px){
  footer .footer-logo{
    display: none;
  }
  footer .footer-text{
    float: none;
    margin: auto;
    text-align: center;
  }
  footer .footer-site{
    display: none;
  }
}
/* /footer */