@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    display: block;
    max-width: 100%;
}
figure{
    width: fit-content;
    height: fit-content;
}
ul,li{list-style-type: none;}
body{
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;;
}

header{
    width: 100%;
    height: 100px;
    /* background-color: hotpink; */
}
header .headeri{
    width: 73.68%;
    /* 가변 적용 -> 1400 / 1900(body size) * 100 = 73.68 */
    height: 100%;
    margin: auto;
    background-color: pink;
}
header .headeri h1{
    width: 17.86%;
    /* 250 / 1400 * 100 = 17.857 */
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    /* 위에서 40px 띄움 */
    text-align: center;
    background-color: blue;
    margin: 30px;
    float: left;
    text-decoration: underline;
    text-transform: uppercase;
    color: gold;
}
header .headeri h1 span{
    color: #fff;
}

header .headeri ul{
    width: 62.14%;
    /* 870 / 1400*100 = 62.142 */
    height: 40px;
    margin: 30px;
    float: right;
    margin: 30px;
    /* background-color: blue; */
}
header .headeri ul li{
    float: left;
    width: 17.24%;
    /* ((ul의 전체 width: 870) - (li 사이 margin: 30px * 4(5개니까 사이 공간: 4)) / 5 */
    /* 150 / 870*100 = 17.241  */
    line-height: 40px;
    margin-left: 3.45%;
    /* 30/870(부모 width)*100 = 3.448*/
    text-decoration: underline;
    text-align: center;
    color: #fff;
    background-color: darkcyan;
    border-radius: 10px;
    /* 모서리 둥글게 */
}
header .headeri ul li:first-child{
    margin-left: 0;
}
/* main */
main{
    width: 100%;
    padding: 100px 0;
    background-image: url(../HW/가변그리드/img/pixabay_main.jpg);
    background-position: center;
    text-align: center;
    color: #fff;
}
main p{
    font-weight: 700;
}
main h1{
    font-size: 40px;
    margin: 30px;
}
main span{
    font-size: 11px;
    margin-bottom: 30px;
}
main .kbtn{
    display: block;
    /* a 는 inline 요소기 때문에 사이즈를 만들어줘야함 -> display : block */
    width: 150px;
    line-height: 40px;
    color: black;
    background-color: khaki;
    margin: 30px auto;
    font-weight: 700;
}

section{
    width: 73.68%;
    overflow: hidden;
    margin: 30px auto;
    background-color: beige;
}

section h1{
    font-size: 30px;
    text-align: center;
    color: darkcyan;
    /* background-color: lightgray; */
}
section .text{
    /* width: 35.71%; */
    /* 500/1400*100 = 35.714 */
    max-width: 500px;
    /* 계속 안줄다가 부모박스가 500px 이하로 내려가기시작하면 부모박스와 같이 줄어듦 */
    margin: 30px auto;
    text-align: center;
    /* background-color: lightgray; */
}

section .allbox{
    width: 100%;
}

section .allbox .bn{
    width: 25%;
    float: left;
    padding: 40px;
    /* background-color: lightgray; */
    border-right: 1px solid darkgray;
}
section .allbox .bn:last-child{
    border-right: 0;
}
section .allbox .bn figure{
    margin: auto;
    margin-bottom: 10px;
}
section .allbox .bn h5{
    font-size: 15px;
    text-align: center;
}
section .allbox .bn p{
    text-align: center;
    padding: 0 5px;
}

/* footer */
footer{
    width: 100%;
    height: 100px;
    text-align: center;
    color: #fff;
    background-color: black;
    line-height: 100px;
}