@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

*{
    /* font-family: 'HSSanTokki20-Regular'; */
    margin: 0;
    padding: 0;
    font-family: 'galmuri9';
    box-sizing: border-box;
}

.main{
    width: 900px;
    height: 100vh;

    margin: auto;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;    
}

.title{
    font-weight: bold;
    font-size: 42px;
}

.inputForm{
    width: 50%;
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

input{
    width: 85%;
    height: 42px;

    padding: 0 10px;

    border: 1px solid #AFC0DD;
    border-radius: 5px;
    font-size: 14px;
}
input:hover{
    background-color: #AFC0DD;
}
input:focus{
    background-color: #AFC0DD;
}
button{
    width: 10%;
    height: 42px;

    border: 1px solid #AFC0DD;
    border-radius: 5px;
    background-color: #AFC0DD;
    font-size: 12px;

    cursor: pointer;
}

button:hover{
    background-color: #91A8D0; 
}

hr{
    width: 50%;
    height: 2px;
    background-color: #AFC0DD;
    border: none;
}

ul{
    width: 40%;
    height: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    text-align: left;
}