  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none; color: inherit;
}
table{border-collapse: collapse;}
td,th{border: 1px solid #ccc;}
body{
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

#top{
  width: 1000px;
  margin: 50px auto;
  background-color: beige;
}
#top .title p{
  float: right;
  line-height: 30px;
  font-size: 12px;
  color: #ccc;
}

#top .num{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  padding: 30px 0;
  overflow: hidden;
}

#top .num .left{
  float: left;
  width: 450px;
  margin: 0 25px;
  margin-top: 10px;
}

#top .num .left td{
  border: none;
  height: 50px;
}

#top .num .left span{
  color: rgb(81, 137, 169)
}

#top .num .left .bold{
  font-weight: 900;
  font-size: 32px;
  width: 40%;
}

#top .num .right{
  float: right;
  width: 500px;
}

#top .num .right td,
#top .num .right th{
  width: 25%;
  height: 30px;
  text-align: center;
}

#top .num .right th{
  background-color: #f7f7f7;
}

#top .num .right .nonl{
  border-left: none;
}

#top .num .right .nonr{
  border-right: none;
}

.tab{
  width: 1000px;
  margin: auto;
  margin-bottom: 50px;
}

.tab th{
  width: 50%;
  height: 70px;
  color: #ccc;
  font-size: 20px;
}

.tab :hover{
  color: rgb(81, 137, 169);
  border-bottom: 2px solid rgb(81, 137, 169);
}

.list{
  width: 1000px;
  margin: auto;
  margin-bottom: 100px;
  border-top: 1px solid #000;
}

.list th{
  height: 50px;
  border-left: none;
  border-right: none;
}

.list td{
  height: 50px;
  border-left: none;
  border-right: none;
  text-align: center;
}

.list td a{
  padding: 5px 10px;
  background-color: rgb(81, 137, 169);
  color:#fff;
}