@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

/* font-family: 'Lato', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,li{
  list-style: none;
}
a{text-decoration: none;color:inherit}
img{display: block;}
body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: beige;
}

/* top */
#top{
  width: 768px;
  overflow: hidden;
  margin: 100px auto;
}
#top select{
  display: block;
  width: 100px;
  height: 30px;
  padding-left: 6px;
}
#top .logo{
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 30px auto;
}

/* section */
section{
  width: 460px;
  overflow: hidden;
  margin: auto;
}

section .box{
  margin-bottom: 30px;
}

section .box .check{
  height: 25px;
  line-height: 25px;
  margin-bottom: 5px;
}

section .box .check input[type="checkbox"]{
  display: block;
  float: left;
  width: 15px;
  height: 15px;
  margin: 5px 0;
  margin-right: 5px;
}

section .box .check label{
  font-weight: 600;
  float: left;
}
section .box .check span{
  color: #00C850;
}

section .box .check button{
  display: block;
  float: right;
  background-color: #fff;
  color: #00C850;
  border: 1px solid #00C850;
  width: 100px;
  height: 25px;
  cursor: pointer;
}

section .box .text{
  width: 100%;
  height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
  line-height: 180%;
  padding-top: 10px;
  padding-left: 5px;
  color: #a1a1a1;
}

section .btn{
  margin-bottom: 20px;
  overflow: hidden;
}

section .btn button:nth-child(1){
  display: block;
  float: left;
  width: 225px;
  height: 60px;
  background-color: #a1a1a1;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

section .btn button:nth-child(2){
  display: block;
  float: right;
  width: 225px;
  height: 60px;
  background-color: #00C850;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

section .copy{
  text-align: center;
  color: #808080;
  font-size: 13px;
}

section .copy p a{
  color: #000;
  text-decoration: underline;
}

section .copy ul{
  margin: 10px 0;
  display: inline-block;
}

section .copy ul li{
  float: left;
  margin: 0 4px;
}

section .copy ul li::not(:last-child)::after{
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #808080;
  margin-left: 8px;
}