/* @import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Bungee&family=Gaegu:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FBBC05;

    font-family: "Cute Font", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

header {
    width: 100%;
    height: 10vh;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

header>h1 {
    font-size: 42px;
    font-weight: 700;
    color: #000000;
}

header>nav {
    width: 30%;
    max-width: 400px;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header>nav>ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

header>nav>ul>li {
    color: #000000;
    font-size: 16px;
    font-weight: 700;

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav>ul>li:nth-child(4){
    color: #fff;
    border-radius: 10px;
    background-color: #000000;
}

header>nav>ul>li>a{
    color: #000000;
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>nav>ul>li:nth-child(4)>a{
    color: #fff;
    border-radius: 10px;
    background-color: #000000;
}

header>nav>ul>li:nth-child(4):hover{
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

header>nav>ul>li:nth-child(4):not(:hover){
    transition: 0.4s ease-out;
}

main {
    width: 100%;
    height: 80vh;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    width: 500px;
    height: 460px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #fff, #000000 3%);
    border-radius: 10px;
    border: 3px solid #ffffff;
}

.board>h1 {
    font-size: 24px;
    color: #FFCC32;
}

.board>.board_inner {
    width: 90%;
    height: 85%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 10px;
    border: 3px solid #1E0058;
}

.board>.board_inner>.grid-cont {
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 340px;
    height: 340px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
}

.grid-cont>.obj_box {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom, #000000, #543798);
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #707070;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-cont>.obj_box:hover {
    background-image: linear-gradient(to bottom, #523396, #7677C0);
    border: 3px solid #C6A6EA;
}

.board .obj_box img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    display: block;
}

aside {
    width: 100%;
    height: 20vh;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.objList {
    width: auto;
    height: 90px;
    margin: auto;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 10px;
    border: 2px solid #FFFFFF;
}

.objList>.board_inner {
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #000000, #1E0058);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
}

.objList>.board_inner>.flex-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    height: auto;

    gap: 5px;
}

.flex-cont>.obj_box {
    width: 60px;
    height: 60px;
    padding: 5px;
    background-image: linear-gradient(to bottom, #000000, #543798);
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #707070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.objList .obj_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.flex-cont>.obj_box:hover {
    background-image: linear-gradient(to bottom, #523396, #7677C0);
    border: 2px solid #C6A6EA;
}