table{
  border-collapse: collapse;
  /* table 사용시 기본 설정값 */
  /* 띄워지는거 없애줌: 우리가 일반적으로 알고 있는 표 생성 */
  /* 
    separate: 기본값 / 틈이 생긴상태
    collapse: 선 사이 틈 병합
  */
  margin-top: 30px;
  /* empty-cells: show; */
}
table, td{
  border: 2px solid #000;
}
td{
  width: 150px;
  height: 50px;
  text-align: center;
  vertical-align: top;
}

.box{
  width: 100px;
  height: 100px;
  margin: 100px;
  border: 1px solid #000;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 25px 0;
  text-align: center;
}